<!DOCTYPE html>
<title>成绩分析系统-{% block title %}{% endblock %}</title>

<!--
<link rel="stylesheet" href="{{ url_for('static',filename='FlaskScoreStyle.css')}}">
-->

<nav>
    <h1>成绩分析系统</h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('user.logout'  )}}">退出登录</a>
        {% else %}
            <li><a href="{{ url_for('user.register')}}">注册新用户</a>
            <li><a href="{{ url_for('user.login'   )}}">用户登录</a>
        {% endif %}
    </ul>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages(with_categories=true) %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

